<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome</h1>
    <button id = "login"> Login </button><br><br>
    <button id = "signup"> Signup </button>
</body>
<script>
    document.getElementById("login").addEventListener("click",function login(){
        window.location.assign("login")
    })
    document.getElementById("signup").addEventListener("click",function signup(){
        window.open("signup","_blank")
    })
    
</script>
</html>